@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
@layer base{
  .nav-item {        
    @apply cursor-pointer p-1.5 rounded-full text-black/70 text-sm font-semibold hover:bg-black/10 hover:text-black transition duration-300 flex justify-center items-center md:px-4;
  }
  .header-item{
    @apply text-3xl font-bold  z-9 tracking-wide md:text-5xl
  }
  .btn-contact {
  @apply w-80 h-15 px-4 py-2 text-center  text-white rounded-lg shadow-md
    hover:scale-105 transition-transform duration-300 inline-flex items-center justify-center
    hover:text-transparent hover:bg-clip-text;
  }
  .tag-item{
    @apply px-5 text-sm border border-black/10 rounded-full bg-white/10 backdrop-blur cursor-pointer text-center ;
  }
  .scrollbar-style{
    @apply [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-track]:bg-gray-100
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-thumb]:bg-gray-300
    dark:[&::-webkit-scrollbar-track]:bg-neutral-700
    dark: [&::-webkit-scrollbar-thumb]:bg-neutral-500
    
  }
}
p{
  font-size: 18px;
}
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}